<%- include('header',{name:user}) %>
<div class="container-fluid">
    <div class="row orta">

        <div class="col-lg-7 col-sm-12 col-xs-12">
            <div class="mobil">
                <% stories.forEach(function(story) { %>  
                    
                <h2 class="baslik">
                    <a class="aa" href="/story<%=story._id%>"> <%= story.title%></a>
                </h2>
                <p class="kullanici">
					
                  by  <a href="/id=<%=story._id%>"><%= story.author.username%></a> 
                 <p><i>23.10.2018</i></p>
                <p><%= story.content%>
                
                
                
                </p>
                   <i class="material-icons">search</i><a class="devam" href="content.html"><div class="devam"><p style="color:#0f0f0f;font-size:17px">Show More</p></div></a>
                   <%});%>
                <hr>
                <h2 class="baslik">
                    <a class="aa" 	href="content.html"> Suspendisse nec purus vel nisi ornare tempus lacinia sit amet orci.</a>
                </h2>
                <p class="kullanici">
					
                  by  <a href="">inindekikral</a> 
                <p><i>23.10.2018</i></p>
                <p>Aliquam nec auctor ligula. Morbi fermentum felis sit amet vehicula mattis. Nunc ut mauris cursus, rutrum nibh eu, interdum lectus. Sed tincidunt rutrum placerat. Etiam venenatis maximus lectus, nec cursus nisi sodales vel. In eleifend sapien nibh, eu efficitur eros finibus id. Nunc vulputate sem sed nibh porttitor, porta sagittis ipsum volutpat. Sed mollis magna ut sollicitudin tristique. Etiam commodo semper pharetra.
                
                
                
                </p>
                   <i class="material-icons">search</i><a class="devam" href="content.html"><div class="devam"><p style="color:#0f0f0f;font-size:17px">Show More</p></div></a>
                <hr>
                <h2 class="baslik">
                    <a class="aa" 	href="content.html"> Integer hendrerit ipsum non nunc vulputate viverra.</a>
                </h2>
                <p class="kullanici">
					
                   by  <a href="">inindekikral</a> 
                <p><i>23.10.2018</i></p>
                <p>Vivamus eget nibh euismod nisl aliquam tristique. Ut placerat et quam sed varius.
                 Nunc vulputate vel ante a molestie. Vivamus at nibh mollis, rutrum sem ac, laoreet tortor.
                  In ut enim diam. Praesent ullamcorper tincidunt arcu, quis congue justo placerat in.
                   Cras eu tincidunt ante. Pellentesque at consequat lorem.
                
                
                
                </p>
                   <i class="material-icons">search</i><a class="devam" href="content.html"><div class="devam"><p style="color:#0f0f0f;font-size:17px">Show More</p></div></a>
                <hr>
                
            </div>
        </div>
        
            
<% include footer %>